@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 36 100% 96%;
        --foreground: 0 0% 17%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 17%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 17%;
        --primary: 331 84% 71%;
        --primary-foreground: 0 0% 100%;
        --secondary: 338 77% 95%;
        --secondary-foreground: 331 84% 71%;
        --muted: 0 0% 83%;
        --muted-foreground: 0 0% 40%;
        --accent: 204 82% 81%;
        --accent-foreground: 0 0% 17%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 83%;
        --input: 0 0% 83%;
        --ring: 331 84% 71%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 10%;
        --foreground: 36 100% 96%;
        --card: 0 0% 13%;
        --card-foreground: 36 100% 96%;
        --popover: 0 0% 13%;
        --popover-foreground: 36 100% 96%;
        --primary: 331 84% 71%;
        --primary-foreground: 0 0% 100%;
        --secondary: 338 30% 20%;
        --secondary-foreground: 36 100% 96%;
        --muted: 0 0% 20%;
        --muted-foreground: 0 0% 60%;
        --accent: 204 50% 30%;
        --accent-foreground: 36 100% 96%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 20%;
        --input: 0 0% 20%;
        --ring: 331 84% 71%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}